<!-- Web Font -->
<link rel="stylesheet" href="/assets/css/web-font.css">

<!--[if gt IE 8]><!---->
{% assign google_fonts = site.google_fonts | default:"Nanum+Gothic" %}
{% capture icons_url %}{% link assets/icomoon/style.css %}{% endcapture %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="/assets/js/subcategories.js"></script>
<script>
  WebFontConfig = {
    {% unless site.no_google_fonts %}
    google: {
      families: '{{ google_fonts }}'.split('|')
    },
    {% endunless %}
    custom: {
      families: ['Nanum Gothic', 'icomoon'],
      urls: ['https://fonts.googleapis.com/earlyaccess/nanumgothic.css', '{{ icons_url | relative_url }}']
    }
  };
</script>
<script async src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZT698MT42Z"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZT698MT42Z');
</script>
<script type="module">
  document.querySelector('hy-push-state').addEventListener('load', () => {
      let tocElement = document.getElementById("markdown-toc");

      if(tocElement){
          let affixedDiv = document.createElement("div");
          affixedDiv.style.position = "relative";
          affixedDiv.style.top = "-1rem";
          tocElement.parentNode.insertBefore(affixedDiv, tocElement);

          let headerList = document.getElementsByClassName("permalink");
          let prevElement;
          window.addEventListener("scroll", () => {
              let hurdleTop = affixedDiv.getBoundingClientRect().top;
              if(hurdleTop <= 0) tocElement.classList.add("affix");
              else tocElement.classList.remove("affix");

              for(let i=0;i<headerList.length;i++){
                  if(headerList[i].getBoundingClientRect().top >= 0){
                  prevElement?.style.removeProperty("font-weight");
                  let tocId = "markdown-toc-" + headerList[i].parentNode.id;
                  prevElement = document.getElementById(tocId);
                  prevElement.style.fontWeight = "bold";;

                  break;
                  }
              }
          });
      }
  });
  </script>

<!--<![endif]-->