.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}
.sidebar-sticky {
  height: 100%;
  padding-top: 5%;
  position: absolute;
  justify-content: center;
}
.sidebar-about {
  padding-bottom:10%;
  margin-top: 60%;
}
.sidebar-social-fixed {
  left: 23%;
  position: absolute;
  display: flex;
  bottom: 10%;
}
.spread-btn{
  left: 7%;
  position: absolute;
  padding: 0;
  padding-top: 5px;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
}

.spread-btn:hover{
  color: rgb(212, 212, 212);
}

.menu-wrapper{
  display: flex;
  text-align: left;
  margin-left: 10%;
  margin-bottom: 0%;
  
  input[type=checkbox]{
    display: none;
  }
  
  input[type=checkbox] ~ ul{
    display: none;
    list-style: none;
  }
  
  input[type=checkbox]:checked ~ ul{
    display: block;
  }
}

// post style
.post-date {
  font-weight: 500;
}
.post-date > span > span {
  text-transform: uppercase;
}
.read-more > a {
  font-weight: 500;
}
.related-posts time {
  font-weight: 500;
}

/* 검색 기능 */
.nav-btn {
  border: none;
}
#search-input {
  border: 1.5px solid var(--border-color);
  border-radius: 5px;
  outline-offset: 1px;
  padding-left: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#search-input::placeholder {
  color: rgb(229, 229, 229);
}
#results-container {
  list-style-type: none;
}
.search-title {
  font-size: 1.08rem;
  font-weight: var(--font-weight-heading);
  line-height: 2;
}